@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roobert), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.hover-swap {
  position: relative;
  overflow: hidden;
  transition: border-color 0.1s ease;
}

.hover-swap:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: black;
}

h1 {
  color: black;
}

.hover-swap span,
.hover-swap::after {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.08, 0.5, 0.44, 0.96);
}

.hover-swap:active {
  border-color: black;
}

.hover-swap::after {
  content: attr(data-hover);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.3s cubic-bezier(0.08, 0.5, 0.44, 0.96);
}

.hover-swap:hover span {
  transform: translate3d(0, -150%, 0);
}

.hover-swap:hover::after {
  transform: translate3d(0, 0, 0);
}

.dotted-square__right {
  display: inline-block;
  position: relative;
  width: 676px;
  height: 676px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='676' height='676' viewBox='0 0 676 676' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M338 1L675 338L338 675L1 338L338 1Z' stroke='%23A0A0A0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='0.1 3'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.dotted-square__right::before,
.dotted-square__right::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.dotted-square__right::before {
  opacity: 0.6;
}

.dotted-square__right::after {
  opacity: 0.3;
}

.dotted-square__left {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -375px;
  transform: translateY(-50%);
  width: 676px;
  height: 676px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='676' height='676' viewBox='0 0 676 676' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M338 1L675 338L338 675L1 338L338 1Z' stroke='%23A0A0A0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='0.1 3'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.dotted-square__left::before,
.dotted-square__left::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.dotted-square__left::before {
  opacity: 0.6;
}

.dotted-square__left::after {
  opacity: 0.3;
}

.nav-group__left:has(.nav-arrow:hover) .dotted-square__left::before {
  transform: scale(1.001) translateX(5%);
}
.nav-group__left:has(.nav-arrow:hover) .dotted-square__left::after {
  transform: scale(1.01) translateX(10%);
}

.nav-group__right:has(.nav-arrow:hover) .dotted-square__right::before {
  transform: scale(1.22) translateX(5%);
}
.nav-group__right:has(.nav-arrow:hover) .dotted-square__right::after {
  transform: scale(1.5) translateX(10%);
}

.nav-arrow {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1b1c;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  transform: translateY(-50%);
}

.nav-arrow:focus-visible {
  outline: none;
}

.nav-arrow--left {
  left: calc(50% + 80px);
}

.nav-arrow--left .icon__button svg {
  transform: rotate(135deg);
}

.nav-arrow--right {
  right: calc(50% + 150px);
}

.nav-arrow--right .icon__button svg {
  transform: rotate(-45deg);
}

.nav-arrow:hover .icon__button::after,
.nav-arrow:focus-visible .icon__button::after {
  transform: scale(1.8);
}

.nav-arrow:hover .icon__button::before,
.nav-arrow:focus-visible .icon__button::before {
  transform: scale(1.4);
}

.nav-arrow:hover .left-text,
.nav-arrow:focus-visible .left-text {
  transform: translateX(20px);
}

.nav-arrow:hover .right-text,
.nav-arrow:focus-visible .right-text {
  transform: translateX(-20px);
}

.left-text {
  transition: transform 0.3s ease;
}

.right-text {
  transition: transform 0.3s ease;
}

.nav-fixed {
  transform: translateY(-50%);
  transition: transform 0.8s ease;
}

.landing-wrapper:has(.nav-arrow--right:hover) .nav-fixed__left,
.landing-wrapper:has(.nav-arrow--right:focus-visible) .nav-fixed__left {
  transform: translate(-100vw, -50%);
  transition: transform 0.4s ease;
}

.landing-wrapper:has(.nav-arrow--left:hover) .nav-fixed__right,
.landing-wrapper:has(.nav-arrow--left:focus-visible) .nav-fixed__right {
  transform: translate(100vw, -50%);
  transition: transform 0.4s ease;
}

.icon__button {
  align-items: center;
  display: inline-flex;
  height: 35px;
  width: 35px;
  padding: 8px;
  justify-content: center;
  position: relative;
  transform: rotate(45deg);
  
}

.icon__button svg {
  flex-shrink: 0;
}

.icon__button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='33' height='33' stroke='%231A1B1C' stroke-width='1' stroke-dasharray='0.1 2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s cubic-bezier(0.08, 0.5, 0.44, 0.96);
}

.icon__button::after {
  content: "";
  height: 100%;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  width: 100%;
  border: 1px solid #1A1B1C;
}

.center-content {
  transition: transform 0.6s ease;
  margin-inline: auto;
}

.landing-wrapper:has(.nav-arrow--left:hover) .center-content,
.landing-wrapper:has(.nav-arrow--left:focus-visible) .center-content {
  transform: translateX(275px);
  text-align: right;
}

.landing-wrapper:has(.nav-arrow--right:hover) .center-content,
.landing-wrapper:has(.nav-arrow--right:focus-visible) .center-content {
  transform: translateX(-275px);
  text-align: left;
}
